<section class="leftside">
  <div class="container">

  <h2>My Boards</h2>
<!--   <div class="container">
        <% @boards=Board.where(user_id: current_user) %>
        <% @parent_boards=@boards.where(parent_board_id: nil) %>

            <% @parent_boards.each do |b| %>
              <p> Parent Board: <%= b.boardname %> </p>
              <% @child_boards=@boards.where(parent_board_id: b) %>
                <% @child_boards.each do |c| %>
                  <p>Child Board: <%= c.boardname%></p>
                <% end %>
            <% end %>
  </div>
 -->  <div class="sitemap">
    <% @boards=Board.where(user_id: current_user) %>
    <% @parent_boards=@boards.where(parent_board_id: nil) %>
    <ul id="primaryNav" class="col4">
        <% @parent_boards.each do |b| %>
          <li><a href="#"> <%= b.boardname %></a>
            <% @child_boards=@boards.where(parent_board_id: b) %>
            <ul>
              <% @child_boards.each do |c| %>
                <li><a href="#"><%= c.boardname%></a>
                  <ul>
                    <% @board_pins = c.pins.all %>
                    <% @board_pins.each do |p| %>
                    <li>
                      <a href="#"><%= p.title %></a>
                    </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
    </ul>
</div>

</section>

<aside class="rightside">
  <div class="form-container">
    <h3>New Board</h3>

    <form method="POST" action="/boards/create">
      <hr>
      <div class="form-group">
        <label for="name"><span class="glyphicon glyphicon-folder-open"></span></label>
        <input type="text" name="boardname" placeholder="Board Name">
      </div>
      <div class="form-group">
        <label for="imgurl"><span class="glyphicon glyphicon-picture"></span></label>
        <input type="url" name="imgurl" placeholder="Cover Image URL"><br>
      </div>
      <input type="submit" value="Create" class="btn btn-default">

    </form>
  </div></aside>